micronaut:
  application:
    name: ddd
  security:
    authentication: bearer
    token:
      jwt:
        enable: false
        signatures:
          secret:
            generator:
              secret: ${JWT_GENERATOR_SIGNATURE_SECRET:pleaseChangeThisSecretForANewOne}
    intercept-url-map:
      - pattern: /api/auth/login
        access: isAnonymous()
      - pattern: /api/auth/demo
        access: isAnonymous()
      - pattern: /swagger-ui/**
        access: isAnonymous()
      - pattern: /v3/api-docs/**
        access: isAnonymous()
      - pattern: /**
        access: isAuthenticated()
  data:
    jpa:
      repositories:
        enabled: true
  jpa:
    default:
      properties:
        hibernate:
          hbm2ddl:
            auto: update
          show_sql: true

datasources:
  default:
    url: ${JDBC_URL:`jdbc:mysql://localhost:3306/ddd_admin?useSSL=false&serverTimezone=UTC`}
    username: ${JDBC_USER:root}
    password: ${JDBC_PASSWORD:123456}
    driver-class-name: com.mysql.cj.jdbc.Driver
    db-type: mysql
    dialect: MYSQL