datasources:
  default:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    username: sa
    password: ""
    driverClassName: org.h2.Driver
    schema-generate: CREATE_DROP
    dialect: H2

micronaut:
  data:
    jpa:
      repositories:
        enabled: true
  security:
    token:
      jwt:
        signatures:
          secret:
            generator:
              secret: "1234567890123456789012345678901234567890"

jpa:
  default:
    properties:
      hibernate:
        hbm2ddl:
          auto: create-drop
        show_sql: true
        format_sql: true