micronaut:
  application:
    name: ddd
  security:
    authentication: bearer
    token:
      jwt:
        enable: false
        signatures:
          secret:
            generator:
              secret: ${JWT_GENERATOR_SIGNATURE_SECRET:pleaseChangeThisSecretForANewOne}
    intercept-url-map:
      - pattern: /api/auth/login
        access: isAnonymous()
      - pattern: /api/auth/demo
        access: isAnonymous()
      - pattern: /**
        access: isAuthenticated()
  http:
    services:
      multipart:
        max-file-size: 10MB
        max-request-size: 10MB

datasources:
  default:
    url: ${JDBC_URL:`jdbc:mysql://localhost:3306/ddd_admin?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true`}
    username: ${JDBC_USER:root}
    password: ${JDBC_PASSWORD:123456}
    driver-class-name: com.mysql.cj.jdbc.Driver

# JPA / Hibernate Configuration
jpa:
  datasources:
    default:
      properties:
        hibernate:
          hbm2ddl:
            auto: update
          show_sql: true

# Redis Configuration
redis:
  uri: ${REDIS_URL:`redis://localhost:6379/0`}

# Rate Limiter Configuration
rate:
  limit:
    enabled: true
    time: 1 # seconds
    count: 30 # requests

# File Storage Configuration
file:
  storage:
    local:
      path: ./uploads
      domain: http://localhost:8080
      prefix: /files
